@import "../../theme/colors.scss";
@import "../../theme/fonts.scss";
@import "../../theme/breakpoints.scss";

.container{
    padding-top:5rem;
    display:flex;
    background:$darkGray;
    justify-content:center;
    @include media("<=tablet"){
        padding:3rem;
        flex-direction: column;
    }
    @include media("<=phone"){
        padding:0rem;
    }
}
.data{
    align-self: center;
    display:flex;
    flex-direction:column;
    text-align:justify;
    padding:1rem;
    max-width:573px;
    max-height:272px;
    @include media("<=tablet"){
        margin:auto;
        z-index: 2;
    }
}
.titleLabel{
    @extend .titleLabel;
    color:$primaryColor;
}
.feedPhoto{
    @include media("<=tablet"){
        position: absolute;
        opacity: 0.1;
    }
}