@import "../../theme/colors.scss";
@import "../../theme/fonts.scss";
@import "../../theme/breakpoints.scss";

.container{
    padding-top:5rem;
    display:flex;
    background:$darkGray;
    justify-content:center;
    @include media("<=tablet"){
        padding:3rem;
    }
    @include media("<=phone"){
        padding:0rem;
    }
}
.data{
    align-self: center;
    display:flex;
    flex-direction:column;
    text-align:justify;
    padding:1rem;
    max-width:573px;
    max-height:272px;
    @include media("<=tablet"){
        // margin-left:0rem;
        margin:auto;
    }
}
.titleLabel{
    @extend .titleLabel;
    color:$primaryColor;
}