@import "../../theme/colors.scss";
@import "../../theme/fonts.scss";
@import "../../theme/breakpoints.scss";

.container{
    z-index:1;
    padding-top:5rem;
    display:flex;
    background:$darkGray;
    justify-content:center;
    position: relative;
    @include media("<=tablet"){
        padding:3rem;
        flex-direction: column;
    }
    @include media("<=phone"){
        padding:0rem;
    }
}
.data{
    align-self: center;
    display:flex;
    flex-direction:column;
    text-align:justify;
    padding:1rem;
    max-width:573px;
    max-height:272px;
    @include media("<=tablet"){
        margin:auto;
        z-index: 2;
    }
    @include media("<=phone"){
        padding:2rem;
    }
}

.titleLabel{
    @extend .titleLabel;
    color:$primaryColor;
    animation: moveRight 1.5s ease-in-out 0s 1 normal none running;
}

.containerTitle{
    overflow:hidden;
    min-height: 8rem;
    animation: growUp 2s ease-in-out 0s 1 normal none running;
}


.caption{
    @extend .caption;
    animation: fade 3.5s ease-in-out 0s 1 normal none running;
}

.feedPhoto{
    // width: 50%;
    // position: relative;
    // right: 0;
    // top: 0;
    @include media("<=tablet"){
        position: absolute;
        opacity: 0.1;
        right: 0;
    }
    @include media("<=phone"){
        position: absolute;
        opacity: 0.1;
        width: 100%;
    }
}

@keyframes moveRight {
    from {
      margin-left: -100%;
    }
    to {
        margin-left: 0%;
    }
  }
@keyframes growUp {
    from {      
        min-height:0px;
    }
    to {
        min-height:8rem;
    }
}
@keyframes fade {
    from {      
        // margin-top:50%;
        opacity:0;
    }
    to {
        // margin-top:1rem;
        opacity:1;
    }
  }

