@import "../../theme/colors.scss";
@import "../../theme/fonts.scss";

.container{
    padding:5rem;
    display:flex;
    background:$darkGray;
    justify-content:center;
}
.data{
    display:flex;
    flex-direction:column;
    text-align:justify;
    padding:1rem;
    max-width:573px;
    max-height:272px;
    margin-left:25rem;
}