@import "../../theme/colors.scss";
@import "../../theme/fonts.scss";
@import "../../theme/breakpoints.scss";

.container{
    position: relative;
    
    // z-index: -1;
}
.contactBanner{
    width: 60%;
    margin: 5rem auto;
    margin-bottom: 0;
    position: sticky;
    @include media("<=tablet"){
        width: 90%;
    }
}

