@import "../../theme/colors.scss";
@import "../../theme/fonts.scss";
@import "../../theme/breakpoints.scss";

.badgeRed{
    padding: 0.6rem 1rem;
    border: 1.5px solid $primaryColor;
    font-weight:600 ;
    text-align: center;
    align-items: center;
    letter-spacing: 0.007em;
    font-size: 1rem;
    border-radius: 3.75px;
    color: $primaryColor;
    &:hover{
        cursor: pointer;
        background-color: $primaryColor;
        color: $white;
        transition: all ease-in-out 0.3s;
    }
}