@import "../../theme/colors.scss";
@import "../../theme/fonts.scss";
@import "../../theme/breakpoints.scss";

.container{    
    width: 100%;
    display: flex;
    position: relative;
    @include media("<=tablet"){
        flex-direction: column;
        margin-top: 5rem;
    }
}

.graySquare{    
    width: 100%;
    max-height: 1016px;
    height: 63.5rem;
    background-color: $secondGray;
    z-index: -1;
    @include media("<=tablet"){
        display:none;
    }
}
.blackSquare{
    width: 100%;
    max-height: 1016px;
    height: 63.5rem;
    @include media("<=tablet"){
        display:none;
    }
}

.cardsFrame{
    display:flex;
    justify-content:center;
    position: absolute;
    top:6.25rem;
    left:0;
    width:100%;
    margin-left: auto;
    margin-right:auto;
    @include media("<=tablet"){
        flex-wrap: wrap;
        position:initial;
        justify-content: center;
    }
}
.cardsFrame > * { margin:1rem;}
.badgesFrame{
    display:flex;
    width: 100%;
    justify-content:center;
    position: absolute;
    bottom:4rem;
    left:0;
    margin-left: auto;
    margin-right: auto;
    @include media("<=tablet"){
        margin: auto;
        flex-wrap: wrap;
        position:initial;
        justify-content: center;
    }
}

.badgeRectangle{
    display:flex;
    flex-direction:column;
}
.badgeRectangle > * {
    margin:1rem;
    margin-top:0;
    @include media("<=tablet"){
        margin: auto;
    }
}

.badgeRow{
    display:flex;
    width:100%;
    justify-content:space-between;
}

.featuredProjects{
    margin: 5rem auto;
    width: 77%;
    position: relative;
    @include media("<=tablet"){
        // margin: auto;
    }
}
.featuredTitle{
    display:flex;
    justify-content: space-between;
    margin-bottom:5rem;
    align-items: center;
}
.featuredProjects .projects{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.featuredProjects .projects > *{
    margin-bottom: 2rem;
}
.contactBanner{
    width: 77%;
    margin: auto;
    @include media("<=tablet"){
        width: 90%;
    }
}

.grayRectangle{
    width: 100%;
    background-color:  $secondGray;
    height:37rem;
    position:absolute;
    bottom:10%;
    left:0;
    z-index: -1;
}