@import "../../theme/colors.scss";
@import "../../theme/fonts.scss";
body{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.mainFrame{
    display:flex;
    flex-direction:column;
    width:100%;
    background:$darkGray;
    height:100%;
    position:relative;
    z-index: 1;
}