@import "../../theme/colors.scss";
@import "../../theme/fonts.scss";


.card-gray{
    background: $primaryGray;
    color:$white;
}
.card-primary{
    background: $primaryColor;
    color:$white;
}

.card-primary .cardIcon{
    filter:brightness(100);
}

.cardIcon{
    max-width: 4.9rem;
    margin-bottom:1.5rem;
}

.cardContainer{
    max-width:361px;
    max-height: 382px;
    padding:5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
}

.cardButtonText {
    text-transform: uppercase;
    background: none;
    border:none;
    text-align: left;
}

.cardButton-gray span{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 188.9%;
    /* or 30px */
    letter-spacing: 0.13em;
    color:$primaryColor;
    vertical-align: middle;
}

.buttonIcon-gray{
    vertical-align: middle;
}

.cardButton-primary span{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 188.9%;
    /* or 30px */
    letter-spacing: 0.13em;
    color:$white;
    vertical-align: middle;
}

.buttonIcon-primary{
    vertical-align: middle;
    filter:brightness(100);
}