@import "./colors";
@import "./fonts";


.button-primary{
    color:$white;
    background:$primaryColor;
    text-transform:uppercase;
    font-weight:500;
    font-size: 12px;
    line-height: 15px;
    padding:20px;
    border:none;
    width:10rem;
}

.button-primary:hover{
    filter:contrast(1.2);
    // border:1px solid $primaryColor;
    transition:all 0.4s ease-in-out;
    
}

button:hover{
    cursor:pointer;
}

.buttonText {
    text-transform: uppercase;
    background: none;
    border:none;
    text-align: left;
}

.button-gray{
    color:$white;
    background:transparent;
    text-transform:uppercase;
    font-weight:500;
    font-size: 12px;
    line-height: 15px;
    border:none;
    padding: 0px;
}

.button-gray span{
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 188.9%;
    /* or 30px */
    letter-spacing: 0.13em;
    color:$primaryColor;
    vertical-align: middle;
    background-color: transparent;
}

.buttonIcon-gray{
    vertical-align: middle;
}

// .button-primary span{
//     font-style: normal;
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 188.9%;
//     /* or 30px */
//     letter-spacing: 0.13em;
//     color:$white;
//     vertical-align: middle;
// }

.buttonIcon-primary{
    vertical-align: middle;
    filter:brightness(100);
}