@import "./colors";
@import "./fonts";


.button-primary{
    color:$white;
    background:$primaryColor;
    text-transform:uppercase;
    font-weight:500;
    font-size: 12px;
    line-height: 15px;
    padding:20px;
    border:none;
    width:10rem;
}

.button-primary:hover{
    filter:contrast(1.2);
    // border:1px solid $primaryColor;
    transition:all 0.4s ease-in-out;
    
}

button:hover{
    cursor:pointer;
}