@import "../../theme/colors.scss";
@import "../../theme/breakpoints.scss";

.cardSquareContainer{
    box-sizing: border-box;
    max-width:360px;
    max-height:294px;
    padding: 0rem 3rem;
    height:18.375rem;
    width:22.5rem;
    background-color:$secondGray;
    display:flex;
    flex-direction:column;
    justify-content:center;
    @include media("<=tablet"){
        // padding: 0rem 3rem;
        width:90%;
    }
}

.cardSquareBigText{
    font-size:8rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    line-height: 9.75rem;
    color:$primaryColor;
    text-align:center;
    margin:0;
}
.cardSquareLabel{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.68rem;
    line-height: 2.06rem;
    text-align: center;
    color:$white;
    margin:0;
}
