// only use for navbar styles
@import '../../theme/colors.scss';
@import '../../theme/breakpoints.scss';

.nav{        
    width: 100%;
    padding:1rem 0;
    margin:auto;
    display:flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:space-evenly;
    background-color: $darkGray;
    @include media('<=phone'){
        & > #logoContainer{
            display:none;
        }
    }
}
.navCentered{
    @extend .nav;
    justify-content:center;
}
.nav .logo {
    max-width: 76px;
}
.nav .menuOptions{
    display:flex;
    justify-content:space-between;
    z-index: 5;
}
.nav .menuOptions a > span {
    padding:1rem;
    color:$white;
    font-weight:400;
    text-decoration:none;
    text-transform:uppercase;
    position: relative;
    display: inline-block;
    overflow: hidden;
    @include media ("<=phone"){
        font-size: 12px;
    }
}

.nav .menuOptions a > span::before{
    position: absolute;
    content: attr(data-content); /* Prints the value of the attribute */
    color:$primaryColor;
    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    transition: clip-path 0.2s ease;
    margin: auto;
}
.nav .menuOptions a > span:hover::before{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.nav .menuOptions a span:hover{
    color:transparent;
    transition: clip-path 0.2s ease;    
    cursor:pointer;
}