@import '../../theme/colors.scss';
@import '../../theme/breakpoints.scss';

.bannerContainer{
    display: flex;
    background-color: $primaryGray;
    justify-content: space-around;
    width: 100%;
    min-height: 21.18rem;
    align-items: center;
    box-sizing: border-box;
    padding: 3rem;
    @include media ("<=tablet"){
        flex-wrap: wrap;
        padding: 1rem;
        height: auto;
    }
}

.bannerContainer h2{
    @include media('<=phone'){
        font-size: 2rem;
        letter-spacing: 0.05rem;
        line-height: 2rem;
    }
}

.textColumn{
    flex:2;
    padding: 1rem;
}
.buttonColumn{
    flex:1;
}
.contactForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    .box{
        display: flex;
        margin: 0.5rem 0 1.5rem 0 ;
    }
    .formInput:nth-child(odd){
        margin-right: 2rem;
    }    
    .formLabel{
        color: $primaryColor;
        font-weight: 600;
    }
    & input, textarea{
        box-sizing: border-box;
        background-color: $darkGray;
        color: $white;        
        border: none;
        padding: 0.5rem;
        font-family: 'Montserrat', sans-serif;
        width: 100%;
        &::placeholder{
            color: $placeholderGray;
        }
    }
}